body {
    background-image: url("images/bg.gif") ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font: Arial;
}

div {
  background-color: rgba(144, 238, 144, 0.815);
  width: 800px;
  text-wrap: break-word;
  padding: 3px;
  margin: auto;
  border-radius: 3%;
}

div#hover {
  background-color: #b6f8a3;
  padding: 20px;
  align-self: right;
  display: none;
  font-size: large;
  border-radius: 3%;
}

span:hover + div#hover {
  display: block;
}

div#hover:hover {
  display: block;
}

.nav {
  list-style-type: none;
  text-wrap: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2fbe1c;
}

.navi {
  float: left;
}

.navis {
  float: left;
}

.back {
  float: right;
}

.next {
  float: right;
}

.navi a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  font-style: normal ;
  text-decoration: black;
}

.navi a:hover {
  background-color: #48aa2a;
}

.next a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  font-style: normal ;
  text-decoration: black;
}

.next a:hover {
  background-color: #48aa2a;
}

.back a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  font-style: normal ;
  text-decoration: black;
}

.back a:hover {
  background-color: #48aa2a;
}

.navis a {
  display: block;
  color: rgb(255, 254, 254);
  text-align: center;
  padding: 14px 16px;
  font-style: normal ;
  text-decoration: black;
  background-color: #0e2b05;
}

.navis a:hover {
  background-color: #0e2b05;
}

table, th, td {
  border: 1px solid black;
}

table {
  margin-left: auto;
  margin-right: auto;
}