body {
    background-color: lightgreen;
}



 #header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #29eb22;
}
  
   #headi {
    float: left;
  }
  
   #headi a {
    display: block;
    padding: 8px;
    background-color: #29eb22;
  }

   #headi a:hover {
    background-color: #3db125;
  }