body {
    background-color: lightgreen;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #29eb22;
}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #29eb22;
  }

  li a:hover {
    background-color: #3db125;
  }